.product-grid-view{
    width: 100%;
    overflow-x: auto;
}
.rowh{
	display: block;
	background: #080625 !Important;
	width: 95%;
	height: 35px;
	color: white;
	font: normal 12px "Arial","Tahoma", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	-moz-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}

.itemh{
	display: inline-block;	
	width: 60px;
	float: left;
    font-size: 15px;
}

.colorh{
	display: inline-block;
	width: 215px;
	text-align: left;
	padding-left: 35px;
	float: left;
}

.rowc{
	background: #080625 !Important;
	color: white;
	font: normal 12px "Arial","Tahoma", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: 175px;
}

.itemc{
	width: 45px;
	height: 75px;
	padding-top: 20px;
    font-size: 15px;
}

.vertsep{	
    display: inline-block;
    float: left;
    height: 75px;
    width: 1px;
    background: #BBBBBB
}
    
.r{
	display: inline-block;
	text-align: center;
	width: 95%;
}

.r0{
	background-color: #DDDDDD;
}

.icolor{
	display: inline-block;	
	width: 100px;
	height: 85px;	
	float: left;
}

.icolor img{
	width: 60px;
	height: 35px;
	background-repeat-x: repeat;
	background-repeat-y: repeat;
    background-position: center;
}

.icolor span{
	display: block;
}

.pricestock{
	float: left;
	width: 110px;
	color: #AAAAAA;
	text-align: left;
}

.pricestock span{
	display: block;
	font-size: 12px;
	height: 20px;
}

.i{
	display: inline-block;	
	width: 55px;
	float: left;
    margin-right: 5px;
}

.i > span{
	display: block;
	height: 20px;
	text-align: right;
}

.sep{
	border-bottom: 1px solid #BBBBBB;
	height: 75px;
	padding-left: 100px;
	width: 100%;
}
.alert{
	padding: 0px;
	margin: 0px;
	padding-left: 30px;
	text-align: right;
}
.alert a{
  display: none;
}

.alert:hover a{
  position: absolute;
  display: block;
  z-index: 1000;
  width: 100px;
  padding: 5px;
  border: 1px solid #333;
  background-color: ghostwhite;
  content: "Item Currently On Back Order";
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 5px;
  color: #6d6c6c;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


.price a{
  display: none;
}

.price a span{
  float: right;
  color: green;
  text-align: left;
  width: 50px;
  padding-left: 10px;
}

.price:hover a{
  position: absolute;
  display: block;
  z-index: 1000;
  width: 100px;
  padding: 5px;
  border: 1px solid #333;
  background-color: ghostwhite;
  content: "Item Currently On Back Order";
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 5px;
  color: #6d6c6c;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.orderquantity input{
  float: right;
  width: 35px;
  text-align: right;
  padding: 0px;
  padding-top 5px;
  height: 22px;
  color: black;
}

#btnGridAddToCart {
   position: relative;
   left: 85%;
   top: 0;
   border: none;
   background: #01034C;
   background: -webkit-gradient(linear, left top, left bottom, from(#01034C), to(#010227));
   background: -webkit-linear-gradient(top, #01034C, #010227);
   background: -moz-linear-gradient(top, #01034C, #010227);
   background: -ms-linear-gradient(top, #01034C, #010227);
   background: -o-linear-gradient(top, #01034C, #010227);
   padding: 5px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 35px;
   margin-right: 150px;
   }
#btnGridAddToCart:hover {
   background: #360000;
   color: #ccc;
   }
#btnGridAddToCart:active {
   background: #360000;
   }